<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="studentOne" class="com.jingchao.spring.pojo.Student"/>

	<bean id="studentTwo" class="com.jingchao.spring.pojo.Student">
		<property name="sid" value="1001"/>
		<property name="sname" value="张三"/>
		<property name="age" value="18"/>
		<property name="gender" value="女"/>
	</bean>

	<bean id="studentThree" class="com.jingchao.spring.pojo.Student">
		<constructor-arg name="sid" value="1002"/>
		<constructor-arg name="sname" value="李四"/>
		<constructor-arg name="age" value="20"/>
		<constructor-arg name="gender" value="男"/>
	</bean>

	<bean id="studentFour" class="com.jingchao.spring.pojo.Student">
		<property name="sid" value="1003"/>
		<property name="sname" value="王五"/>
		<property name="age" value="18"/>
		<property name="gender">
			<null/>
		</property>
	</bean>

	<bean id="studentFive" class="com.jingchao.spring.pojo.Student">
		<property name="sid" value="1004"/>
		<property name="sname">
			<value><![CDATA[<王五>]]></value>
		</property>
		<property name="age" value="18"/>
		<property name="gender">
			<null/>
		</property>
	</bean>

	<bean id="studentSix" class="com.jingchao.spring.pojo.Student">
		<property name="sid" value="1005"/>
		<property name="sname" value="赵六"/>
		<property name="age" value="24"/>
		<property name="gender" value="男"/>
		<property name="clazz" ref="clazzOne"/>
	</bean>
	<bean id="clazzOne" class="com.jingchao.spring.pojo.Clazz">
		<property name="cid" value="1111"/>
		<property name="cname" value="最强王者班"/>
	</bean>

	<bean id="studentSeven" class="com.jingchao.spring.pojo.Student">
		<property name="sid" value="1005"/>
		<property name="sname" value="赵六"/>
		<property name="age" value="24"/>
		<property name="gender" value="男"/>
		<property name="clazz" ref="clazzOne"/>
		<property name="clazz.cid" value="2222"/>
		<property name="clazz.cname" value="完胜班"/>
	</bean>

	<bean id="studentEight" class="com.jingchao.spring.pojo.Student">
		<property name="sid" value="1005"/>
		<property name="sname" value="赵六"/>
		<property name="age" value="24"/>
		<property name="gender" value="男"/>
		<property name="clazz">
			<bean id="clazzInner" class="com.jingchao.spring.pojo.Clazz">
				<property name="cid" value="333"/>
				<property name="cname" value="暴富班"/>
			</bean>
		</property>
	</bean>

	<bean id="studentNine" class="com.jingchao.spring.pojo.Student">
		<property name="sid" value="1005"/>
		<property name="sname" value="赵六"/>
		<property name="age" value="24"/>
		<property name="gender" value="男"/>
		<property name="clazz">
			<bean class="com.jingchao.spring.pojo.Clazz">
				<property name="cid" value="333"/>
				<property name="cname" value="暴富班"/>
			</bean>
		</property>
		<property name="hobby">
			<array>
				<value>抽烟</value>
				<value>喝酒</value>
				<value>烫头</value>
			</array>
		</property>
	</bean>


</beans>